body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather {
    width: 300px;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}