body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.calculator {
    width: 300px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding : 20px;
}